@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cafe24Ohsquareair";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Cafe24Ohsquareair", sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="password"] {
  font-family: "Pretendard-Regular", sans-serif;
  opacity: 1;
  color: black;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  .swiper-pagination > .swiper-pagination-bullet {
    @apply z-10 w-2 h-2 rounded-full bg-white opacity-100;
  }

  .swiper-pagination > .swiper-pagination-bullet.active {
    @apply bg-main-5;
  }

  .custom_scrollbar {
    @apply [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-track]:bg-white [&::-webkit-scrollbar-thumb]:bg-main-5;
  }
  .pretendard {
    font-family: "Pretendard-Regular", sans-serif;
  }
}
